.box {
    background-color: rgb(245, 245, 245);
    max-width: 816;
    padding: 30px;
    border-radius: 20px; /* Rounded corners */
    box-shadow: 0 5px 10px rgba(36, 36, 36, 0.4); /* Subtle shadow */
}
.highlighted-text {
    background-color: black;
}

body {
    font-family: Menlo, monospace;
    font-size: 11px;
    margin: 10px;
    line-height: 1.2;
    display: grid;
    place-items: center;
}
h1 {
    color: #fdfdfd;
    text-align: left;
    font-size: 35px;
    background-color: #000000; /* Highlight color */
}
h2 {
    color: #ffffff;
    text-align: left; /* Center text inside */
}
h3 {
    color: #555;
    margin: 5;
}
h4 {
    margin: 0;
}
p {
    color:#555;
    margin: 0;
}
li {
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
}

.image-container {
    display: flex;          /* Use flexbox to arrange items horizontally */
    justify-content: center; /* Optional: centers the images horizontally */
    gap: 10px;              /* Optional: adds space between images */
}

.image-container img {
    width: 50px;             /* Resize the images to fit side by side */
    height: auto;           /* Maintain aspect ratio */
}

footer {
    text-align: center;
    font-size: 9px;
    padding: 10px 0;
  }